
#wanderplan {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: black;
    border-collapse: collapse;
    width: 100%;
}

#wanderplan th {
    font-size: 19px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;

    background-color: #089901;
    color: white;
}

#wanderplan td, #wanderplan th {
    border: 1px solid #ddd;
    padding: 4px;
}

.checkbox {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

a {color: #089901;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}

#wanderplan tr:hover {background-color: #ddd;}